.App-Container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(3, 3, 104);
}

.conta {
  border: 2px solid yellow;
  padding: 6px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.txt {
  color: white;
}
